.sidebar{
    flex: 3;
    margin: 18px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarSocial{
    margin-top: 10px;
    cursor: pointer;
}
.sidebarIcon{
    display: inline-block;
    color: lightslategray;
    margin-top: 2px;
    padding: 2px;
    margin-left: 2px;
}

.sidebarTitle{
    padding: 6px;
    margin: 4px;
}